/nbproject/private/
/resources/styles/styles.css
/.sass-cache/
/bin/
/vendor/
composer.lock
composer.phar
presentation/resources/styles/styles.css
presentation/resources/styles/style.css
presentation/resources/styles/.sass-cache
/.idea/workspace.xml
.DS_Store